{extend name='admin@public/content'}

{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-update data-field="{$Think.get.has_detail|default='1'}" data-value="{$Think.get.ledger_date|default=''}" data-action='{:url("$classuri/index")}' data-title="批量冻结" class='layui-btn layui-btn-sm layui-btn-primary'>批量冻结</button>
<!--{/if}-->
{/block}

{block name="content"}
<style>
    .layui-table td, .layui-table th {
        padding: 9px 0px;
        min-height: 20px;
        line-height: 20px;
    }
    .gd1{width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
    .gd2{width: 70px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
    .label-required::after{ position: static;}
</style>

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">台账日期</label>
        <div class="layui-input-inline">
            <input name="ledger_date" required="date" id='ledger_date' value="{if $Think.get.ledger_date}{$Think.get.ledger_date}{else}{:date('Y-m')}{/if}" placeholder="请选台账日期" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-inline">
            <select name="cust_id" lay-search>
                <option value=''>=== 请选择 ===</option>
                <!--{foreach custs as $cust}-->
                <!--{eq name='cust.id' value='$Think.get.cust_id|default=0'}-->
                <option selected value='{$cust.id}'>{$cust.cust_name}</option>
                <!--{else}-->
                <option value='{$cust.id}'>{$cust.cust_name}</option>
                <!--{/eq}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">是否有台账明细</label>
        <div class="layui-input-inline">
            <select name="has_detail" lay-search>
                <option {if $Think.get.has_detail==1}selected{/if} value='1'>有</option>
                <option {if $Think.get.has_detail==2}selected{/if} value='2'>无</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" lay-search>
                <option {if $Think.get.status==='10'}selected="selected"{/if} value="10">=== 请选择 ===</option>
                <option {if $Think.get.status==0}selected="selected"{/if} value="0">未冻结</option>
                <option {if $Think.get.status==='1'}selected="selected"{/if} value="1">已冻结</option>
                <option {if $Think.get.status==='2'}selected="selected"{/if} value="2">已审核</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button lay-submit lay-filter="*"  class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>

<script>
    window.laydate.render({
        range: false,
        elem: '#ledger_date',
        type:'month',
        showBottom:true,
        change: function(value){
            $('#ledger_date').val(value);
            $('.layui-laydate').remove();
        }
    });
    window.form.render();
</script>

<!-- 表单搜索 结束 -->
{if $Think.get.ledger_date}
    <table class="layui-table" lay-skin="line">
        <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
                </th>
                <th class='text-left nowrap'>台账日期</th>
                <th class='text-left nowrap'>客户名</th>
                <th class='text-left nowrap'>客户区域</th>
                <th class='text-left nowrap'>客户类型</th>
                <th class='text-left nowrap'>所属业务员</th>
                <th class='text-left nowrap'>数量</th>
                <th class='text-left nowrap'>金额</th>
                <!--<th class='text-left nowrap'>销售费</th>-->
                <th class='text-left nowrap'>提成金额</th>
                <th class='text-left nowrap'>上月结转</th>
                <th class='text-left nowrap'>当前余额</th>
                <th class='text-left nowrap'>台账状态</th>
                <th class='text-left nowrap'></th>
                <th class='text-left nowrap'></th>
            </tr>
        </thead>
        <tbody>
        {if $Think.get.has_detail==2}
            {foreach $list as $key=>$vo}

            {php}
            $ledger_date = request()->get('ledger_date');
            $ledger = service\LedgerService::get_last_ledger($vo['id'], $ledger_date, 1);
            $last_carry_down = $cust_balance = $ledger['cust_balance'];
            {/php}
            <form autocomplete="off" onsubmit="return false;" action="" data-auto="true" method="post" class='layui-form layui-box'>
                <tr>
                    <td class='list-table-check-td think-checkbox'>
                        {if $vo.status !=1 AND $vo.status !=2}
                            <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                        {/if}
                    </td>
                    <td class='text-left nowrap'>{$Think.get.ledger_date}</td>
                    <td class='text-left nowrap'>{$vo.cust_name}</td>
                    <td class='text-left nowrap'>{php}echo service\RegionService::fullName($vo['region_code']){/php}</td>
                    <td class='text-left nowrap'>
                        {switch $vo.cust_type}
                        {case 1}<span class="layui-badge layui-bg-orange">仓储服务商</span>{/case}
                        {case 2}<span class="layui-badge layui-bg-green">物流配送商</span>{/case}
                        {case 3}<span class="layui-badge layui-bg-cyan">分公司</span>{/case}
                        {case 4}<span class="layui-badge layui-bg-blue">KA</span>{/case}
                        {case 5}<span class="layui-badge layui-bg-black">盐业公司</span>{/case}
                        {default /}
                        {/switch}
                    </td>
                    <td class='text-left nowrap'>{$vo.real_name}</td>
                    <td class='text-left nowrap'>0.00</td>
                    <td class='text-left nowrap'>0.00</td>
                    <!--<td class='text-left nowrap'>0</td>-->
                    <td class='text-left nowrap'>0.00</td>
                    <td class='text-left nowrap'>{$last_carry_down|default='0.00'}</td>
                    <td class='text-left nowrap'>{$cust_balance|default='0.00'}</td>
                    <td class='text-left nowrap'><span class="layui-badge layui-bg-gray">未冻结</span></td>
                    <td class='text-left nowrap'>
                    </td>
                    <td class='text-left nowrap'>
                    </td>
                </tr>
            </form>
            {/foreach}
        {else}
            {foreach $list as $key=>$vo}
            <form autocomplete="off" onsubmit="return false;" action="" data-auto="true" method="post" class='layui-form layui-box'>
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    {if $vo.status !=1 AND $vo.status !=2}
                        <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                    {/if}
                </td>
                <td class='text-left nowrap'>{$vo.ledger_date|date='Y-m'}</td>
                <td class='text-left nowrap'>{$vo.cust_name}</td>
                <td class='text-left nowrap'>{$vo.cust_region_name}</td>
                <td class='text-left nowrap'>
                    {switch $vo.cust_type}
                        {case 1}<span class="layui-badge layui-bg-orange">仓储服务商</span>{/case}
                        {case 2}<span class="layui-badge layui-bg-green">物流配送商</span>{/case}
                        {case 3}<span class="layui-badge layui-bg-cyan">分公司</span>{/case}
                        {case 4}<span class="layui-badge layui-bg-blue">KA</span>{/case}
                        {case 5}<span class="layui-badge layui-bg-black">盐业公司</span>{/case}
                        {default /}
                    {/switch}
                </td>
                <td class='text-left nowrap'>{$vo.sales_real_name}</td>
                <td class='text-left nowrap'>{$vo.qty_total}</td>
                <td class='text-left nowrap'>{$vo.amount_total}</td>
                <!--<td class='text-left nowrap'>{$vo.sales_fee_total}</td>-->
                <td class='text-left nowrap'>{$vo.profit_amount_total}</td>
                <td class='text-left nowrap'>{$vo.last_carry_down|default='0.00'}</td>
                <td class='text-left nowrap'>{$vo.cust_balance|default='0.00'}</td>
                <td class='text-left nowrap'>
                    {switch $vo.status}
                        {case 0}<span class="layui-badge layui-bg-gray">未冻结</span>{/case}
                        {case 1}<span class="layui-badge layui-bg-green">已冻结</span>{/case}
                        {case 2}<span class="layui-badge layui-bg-orange">已审核</span>{/case}
                        {default /}<span class="layui-badge layui-bg-gray">未冻结</span>
                    {/switch}
                </td>
                <td class='text-left nowrap'>
                    <a href='/admin.html#/ledger/ledger_detail/index.html?ledger_date={$vo.ledger_date|date="Y-m"}%2B-%2B{$vo.ledger_date|date="Y-m"}&cust_id={$vo.cust_id}'>明细</a>
                </td>
                <td class='text-left nowrap'>
                    <!--<input type="hidden" name="id" value="{$vo.id}" />-->
                    <!--<button lay-submit lay-filter="*" class="layui-btn layui-btn-xs {if $vo.status == 1 OR $vo.status == 2}layui-btn-disabled{/if}" type="submit">冻结</button>-->
                </td>
            </tr>
            </form>
            {/foreach}
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
{/if}
{/block}